@model u22550667_HW03.Models.borrow

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <center>
        <div>
            <h4>Borrow Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Taken Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.takenDate)
                </dd>

                <dt>
                    Brought Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.broughtDate)
                </dd>

                <dt>
                    Book Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.book.name)
                </dd>

                <dt>
                    Student Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.student.name)
                </dd>

            </dl>
        </div>
        <br />
        <p>

            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok</button>
        </p>
    </center>
</body>
</html>
