@model u22550667_HW03.Models.type

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Type Details</title>
</head>
<body>
    <div>
        <h4>Type Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
             Type Name
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
        </dl>
    </div>
    <p>
       
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok</button>
    </p>
</body>
</html>
