@model u22550667_HW03.Models.author

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <center>
        <div>

            <h4>Author Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Author Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>
                <br />
                <dt>
                    Author Surname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.surname)
                </dd>
                <br />
            </dl>
        </div>
        <br />
        <p>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">OK</button>
        </p>
    </center>
</body>
</html>
